.dashboard {
  @apply flex;

  &__display {
    @apply h-screen overflow-scroll;
    width: calc(100% - 65px);
    background-color: whitesmoke;

    &-con {
      @apply h-full w-full overflow-scroll;

      .content {
        @apply h-full w-full px-5 md:px-10 xl:px-20;

        padding-top: calc(70px + 40px);

        @media screen and (min-width: 1720px) {
          padding-left: 150px;
          padding-right: 150px;
        }
      }
    }
  }
}

.empty-state {
  @apply bg-white w-full rounded-md flex flex-col items-center justify-center mt-5 gap-7 p-7 md:p-10 xl:p-20;

  height: 65vh;

  .heading {
    @apply text-xl md:text-3xl font-extrabold text-purple text-center;

    max-width: 500px;
  }
}
